@font-face {
  font-family: "OstrichSans-Heavy";
  src: url("/fonts/OstrichSans-Heavy.otf");
  /* font-style: normal;
  font-weight: 400;
  font-display: swap; */
}

body {
  font-family: OstrichSans-Heavy;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* *******************************HEADER************************************************************************ */

.header {
  position: relative;
  height: 100%;
  width: 100%;
}

.top_shape {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #009499;
  z-index: 5;
}

.rectangle {
  /* position: absolute;
  top: 0; */
  z-index: 2;
}

.logo {
  position: absolute;
  top: 30px;
  left: 0;
  /* margin-left: -174; */
  z-index: 2;
}

.navbar {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 0;
  height: 80px;
  background-color: white;
  margin: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 50px 0 auto;
  color: #009499;
}

.nav_item {
  text-decoration: none;
  cursor: pointer;
}

.nav_item h2 {
  font-weight: 400;
  font-size: 30px;
}

.hero {
  width: 100%;
  height: 400px;
  z-index: 0;
}

/* *******************************FILTER************************************************************************ */
.second_section {
  width: 100%;
  height: 514px;
  background-color: #009499;
  position: relative;
}

.filter_container {
  width: 95%;
  height: 644px;
  position: absolute;
  top: -65px;
  bottom: -65px;
  left: 2.5%;
  z-index: 5;
}

.types {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  padding: 50px 40px 0 70px;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.type h2 {
  font-weight: 300;
}

.selected_type {
  border-bottom: 5px solid #ff5300;
}

.middle_filter {
  position: relative;
  margin: 270px auto 0 auto;
  z-index: 5;
  width: 70%;
  padding: 30px 0;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.middle_filter > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 36px;
}

.radio {
  cursor: pointer;
}

input[type="radio"]:not(old) {
  width: 28px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 35px;
  padding-bottom: 4px;
  padding-top: 4px;
  background: url("/unchecked.png") no-repeat 0 0;
  line-height: 24px;
}

.checked_op {
  background: url("/checked.png") no-repeat 0 0 !important;
  color: #ff5300;
}

.second_filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px auto 0 auto;
  z-index: 5;
  width: 70%;
}

.select_div {
  display: inline-flex;
  flex-direction: column;
}

.select_div_label {
  font-size: 36px;
  font-weight: 500;
  font-family: OstrichSans-Heavy;
}

.select_div select {
  font-size: 24px;
  width: 200px;
  height: 50px;
}

.minmax {
  display: inline-block;
  width: 100px;
}
.minmax div {
  display: inline-block;
}

/* *****************************************cars menu ************************************************************ */

.third_section {
  width: 100%;
  height: auto;
  background-color: #ebebeb;
  position: relative;

  padding-top: 120px;
}

.cars {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px auto;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: auto;
  margin-bottom: 50px;
  background-color: white;
  padding-top: 25px;
  border: 0.25px solid grey;
}

.more {
  background-color: #e7e7e7;
  width: 100%;
  padding: 20px 0;
}

@media only screen and (max-width: 1050px) {
  .second_section {
    height: auto;
    background-color: white;
  }
  .filter_container {
    height: auto;
    position: relative;
  }
  #white-shape {
    display: none;
  }

  .types {
    margin-top: 150px;
    position: relative;
    height: auto;
    padding: 0;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
  }

  .nav {
    flex-wrap: wrap;
    width: 100%;
  }

  .nav_item {
    display: block;
    margin: 5px;
  }

  .middle_filter {
    margin: 70px auto 0 auto;
  }

  .minmax {
    width: auto;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    display: none;
  }
  .nav {
    margin-top: 50px;
  }
}
